@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html {
  font-size: 100%;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 150%;
  }
}


@media screen and (min-width: 1380px) {
  html {
    font-size: 100%;
  }
}

.trans-x-0 {
  transform: translateX(0) !important;
}

.line-1 {
  position: relative;
}

.line-1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.75rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="215" height="12" viewBox="0 0 215 12" fill="none"><path d="M2 9.8993C70 4.73263 183 -1.44744 212.5 6.05253" stroke="%2396C67F" stroke-width="4" stroke-linecap="round"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}
